<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Estatísticas</title>
  <link rel="stylesheet" href="/styles/views.css">
</head>
<body>
  <!-- Barra de navegação -->
  <nav class="navbar">
    <div class="navbar-center">
      <ul class="navbar-links">
        <li><a href="/dashboard?nome=<%= nome %>&userId=<%= userId %>">Dashboard</a></li>
        <li><a href="/desportos?nome=<%= nome %>&userId=<%= userId %>">Desportos</a></li>
        <li><a href="#">Estatísticas</a></li>
        <li><a href="/ranking?nome=<%= nome %>&userId=<%= userId %>">Rankings</a></li>
        <li><a href="/index.html" class="logout-button" onclick="sessionStorage.clear()">Log out</a></li>
      </ul>
    </div>      
  </nav>

  <!-- Conteúdo principal -->
  <div class="content">
    <div class="dashboard-box">
      <h2>Desportos</h2>
      <table class="stats-table">
        <thead>
            <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Criado Por</th>
            <th>Criado Em</th>
            <th></th>
            </tr>
        </thead>
        <tbody id="desportos-body">
            <!-- linhas inseridas via JS -->
        </tbody>
      </table>
    </div>
  </div>

  <script src="/scripts/desportos.js"></script>
</body>
</html>
